@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    min-height: 100vh;
}

.gradient-blur::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #DE4EAC 0%, #5C4EDE 100%);
    filter: blur(125px);
    z-index: -1;
    border-radius: 0px 0px 80px 80px;
}
.bg-size {
    background-size: 240px;
}
@media (max-width:640px) {
    .bg-size {
        background-size: 140px;
    }
}